# Python and Virtual Environment Files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

.venv/

.env
secret.key

.pytest_cache/
admin_key_pair.pem
# VSCode-specific files
.vscode/
.vscode/settings.json
.vscode/*.code-workspace

# Poetry
__pypackages__/
poetry.lock
poetry.toml

# Docker
.docker/
.dockerignore

# Temporary files
*.log
*.tmp
*.swp

# Compiled Python files
*.pyc

# macOS metadata
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor-specific directories
.idea/
*.sublime-workspace
*.komodoproject
*.komodotools

# Compiled binary files
*.dll
*.so
*.dylib

# Test coverage reports
htmlcov/

# Test/pytest cache
pytest_cache/

# PyCharm files
.idea/

# MyPy cache
.mypy_cache/

# Python Profiling
profiling/

# Logs
logs/
